<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

    <title>Spring Web</title>
</head>
<body>
    <!-- 네비게이션 -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>

    <!-- content -->
    <th:block layout:fragment="content"></th:block>

    <!-- Bootstrap.js -->
    <script th:src="@{/bootstrap.min.js}"></script>

    <!-- JavaScript -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>
